.task-item__label {
  position: relative;
}

.task-item__text {
  font-size: 1.55rem;
  color: var(--fc-text-primary);
}
.task-item__checkbox[type="checkbox"]:checked + .task-item__text {
  text-decoration: line-through;
  text-decoration-color: var(--fc-primary);
  text-decoration-thickness: 0.2rem;
}

.task-item__checkbox {
  opacity: 0;
  width: 1em;
  height: 1em;
}
