@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@400;500;900&display=swap");

:root {
  --ff-primary: "Roboto", sans-serif;
  --fw-primary-medium: 300;
  --fw-primary-bold: 900;
  --ff-secondary: "Montserrat", sans-serif;
  --fw-secondary-semi-bold: 400;
  --fc-primary: #fe4775;
  --fc-secondary: #161060;
  --fc-text-primary: #393939;
  --fc-text-secondary: #111;
  --fc-content-passive: #d4d4d4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: var(--ff-primary);
}

ul,
h1 {
  margin: 0;
  padding: 0;
}
h1 {
  padding-left: 2.3rem;
  font-size: 2.92rem;
  font-weight: var(--fw-primary-medium);
}

h2 {
  font-size: 2.67rem;
  font-weight: var(--fw-primary-medium);
}

h3 {
  font-size: 1.25rem;
  font-weight: var(--fw-primary-bold);
}

h4 {
  font-family: var(--ff-secondary);
  font-size: 1.25rem;
  font-weight: var(--fw-secondary-semi-bold);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.icon {
  border: none;
  background-color: transparent;
}
.nav-item {
  font-family: var(--ff-primary);
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-decoration: none;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  letter-spacing: 0.2rem;
}
.nav-item--active {
  color: var(--fc-primary);
}
.task-item__text {
  font-size: 1.55rem;
  color: var(--fc-text-primary);
}
.task-item__checkbox[type="checkbox"]:checked + .task-item__text {
  text-decoration: line-through;
  text-decoration-color: var(--fc-primary);
  text-decoration-thickness: 0.2rem;
}

.task-item__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.tasksList {
  padding: 2rem 2rem;
  background-color: rgba(212, 212, 212, 0.2);
  list-style-type: none;
}
.tasksList__item {
  padding-bottom: 2rem;
}

.container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr 4fr 1fr;
}

.menuButton {
  grid-column: 1/3;
  justify-self: start;
  padding-left: 1rem;
}

.taskMenu {
  grid-column: 1/3;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 1rem;
}

.notifyButton {
  align-self: start;
}

.navList {
  grid-column: 1/2;
  grid-row: span 2;
  display: grid;
  place-items: center;
  list-style-type: none;
}

.taskList {
  grid-column: 2/3;
  grid-row: span 2;
}

.button {
  width: 7.36rem;
  height: 6.08rem;
  background-color: var(--fc-primary);
  position: absolute;
  left: calc(100% - 7.36rem);
  top: calc(100% - 6.08rem);
  border-top-left-radius: 11px;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  border: 0;
}

.button__plus {
  align-self: center;
}

.form {
  display: grid;
  grid-template-columns: 2.25rem 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.form__form-control {
  display: flex;
  flex-direction: column;
  grid-row: 1;
  grid-column: 2;
}

.form__form-control input {
  border: none;
  border-bottom: 0.15rem solid rgba(52, 45, 47, 0.4);
  padding-top: 3rem;
  width: 100%;
  padding-bottom: 2rem;
  font-size: 2rem;
}

.form__form-control input:focus {
  outline: none;
}

.form__form-control input::placeholder {
  font-size: 2.92rem;
  color: rgba(57, 57, 57, 0.2);
}

.form__form-control label {
  font-family: var(--ff-primary);
  font-size: 2.92rem;
  color: rgba(57, 57, 57, 0.4);
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.form__fieldset {
  grid-row: 2 /3;
  grid-column: 2;
}

.form__fieldset legend {
  font-family: var(--ff-primary);
  font-weight: var(--fw-primary-medium);
  font-size: 1.25rem;
  color: black;
  padding: 2rem 0;
}

.fieldset {
  border: 0;
  padding: 0;
}

.fieldset__radio-items {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
}

.fieldset__radio-items--bgcolor {
  background-color: rgba(212, 212, 212, 0.2);
}

.form__btn {
  grid-row: 4;
  grid-column: span 2;
  color: white;
  font-size: 1.75rem;
  border: none;
  height: 6rem;
}

.form__btn--red {
  background-color: var(--fc-primary);
}

input[type="radio"] {
  opacity: 0;
  width: 1em;
  height: 1em;
}

input[type="radio"]:checked + span {
  color: rgb(254, 71, 117);
}

.addTask-container {
  height: 100%;
  display: grid;
  align-content: space-between;
}
