<section class="tasks-page">
  <button class="icon">
    <img src="../../../assets/burger.svg" alt="burger icon" />
  </button>
  <h1>Tasks</h1>
  <button class="icon">
    <img src="../../../assets/notif.svg" alt="notify icon" />
  </button>
  <aside>
    <ul>
      <li>
        <a class="nav-item nav-item--active" href="#">today</a>
      </li>
      <li>
        <a class="nav-item" href="#">tomorrow</a>
      </li>
      <li>
        <a class="nav-item" href="#">this week</a>
      </li>
    </ul>
  </aside>
  <div class="tasks">
    <div class="task-item">
      <label class="task-item__label">
        <input class="task-item__checkbox" type="checkbox" />
        <span class="task-item__text">Book appoinment with Jack</span>
      </label>
    </div>
  </div>
</section>
<button class="button">
  <img
    class="button__plus"
    src="../../../assets/plus.svg"
    alt="create new tesk"
  />
</button>
