<ul class="tasksList">
  <li class="taskList__item">
    <label class="task-item">
      <input class="task-item__checkbox" type="checkbox" />
      <span class="task-item__text">Book appoinment with Jack</span>
    </label>
  </li>
  <li class="taskList__item">
    <label class="task-item">
      <input class="task-item__checkbox" type="checkbox" />
      <span class="task-item__text">Play tennis with Jane </span>
    </label>
  </li>
  <li class="taskList__item">
    <label class="task-item">
      <input class="task-item__checkbox" type="checkbox" />
      <span class="task-item__text">Cook delicious dinner</span>
    </label>
  </li>
  <li class="taskList__item">
    <label class="task-item">
      <input class="task-item__checkbox" type="checkbox" />
      <span class="task-item__text"
        >Read the book "Clean code" about best practice of programming</span
      >
    </label>
  </li>
  <li class="taskList__item">
    <label class="task-item">
      <input class="task-item__checkbox" type="checkbox" />
      <span class="task-item__text">Go to cinema with the whole family</span>
    </label>
  </li>
</ul>
