h1 {
  font-size: 2.92rem;
  font-weight: var(--fw-primary-medium);
}

h2 {
  font-size: 2.67rem;
  font-weight: var(--fw-primary-medium);
}

h3 {
  font-size: 1.25rem;
  font-weight: var(--fw-primary-bold);
}

h4 {
  font-family: var(--ff-secondary);
  font-size: 1.25rem;
  font-weight: var(--fw-secondary-semi-bold);
}
