:root {
  --h1-fs: 2.93rem;
  --h1-fw: 500;
  --h2-fs: 2rem;
  --h2-fw: 500;
  --h3-fs: 1.25;
  --h3-fw: 600;
  --h4-fs: 0.93rem;
  --h4-fw: 600;
  --h5-fs: 0.8rem;
  --h5-fw: 400;
  --h6-fs: 0.8rem;
  --h6-fw: 1rem;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: var(--ff-primary);
}

h4 {
  font-family: var(--ff-secondary);
  font-size: var(--h4-fs);
  font-weight: var(--h4-fw);
}

h2 {
  font-size: var(--h2-fs);
  font-weight: var(--h2-fw);
}

h3 {
  font-size: var(--h3-fs);
  font-weight: var(--h3-fw);
}

h5 {
  font-size: var(--h5-fs);
  font-weight: var(--h5-fw);
}

h6 {
  font-size: var(--h6-fs);
  font-weight: var(--h6-fw);
}
