.form {
  width: 31.25rem;
  height: 70vh;
  display: grid;
  grid-template-columns: 2.25rem 1fr;
  grid-template-rows: 1fr 1fr 1fr 6rem;
  border: 2px solid red;
  position: absolute;
  top: 30%;
}

.form__form-control {
  display: flex;
  flex-direction: column;
  grid-row: 1;
  grid-column: 2;
}

.form__fieldset {
  grid-row: 2 /3;
  grid-column: 2;
}

.fieldset {
  border: 0;
  padding: 0;
}

.fieldset__radio-items {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
}

.fieldset__radio-items--bgcolor {
  background-color: rgba(212, 212, 212, 0.4);
}

.form__btn {
  grid-row: 4;
  grid-column: span 2;
}

.form__btn--red {
  background-color: var(--fc-primary);
}
