<form class="form">
  <div class="form__form-control">
    <label for="task">Enter Task</label>
    <input type="text" id="task" />
  </div>
  <fieldset class="form__fieldset fieldset">
    <legend>WHEN</legend>
    <div class="fieldset__radio-items fieldset__radio-items--bgcolor">
      <label for="today"
        >Today
        <input id="today" type="radio" value="today" name="when" />
      </label>
      <label for="tomorrow"
        >Tomorrow
        <input id="tomorrow" type="radio" value="tomorrow" name="when" />
      </label>
      <label for="selectDate">
        Select Date
        <input id="selectDate" type="radio" value="selectDate" name="when" />
      </label>
    </div>
  </fieldset>
  <button class="form__btn form__btn--red" type="submit">Add Task</button>
</form>
