<form class="form">
  <div class="form__form-control">
    <label for="task">Enter Task</label>
    <input type="text" id="task" />
  </div>
  <fieldset class="form__fieldset fieldset">
    <legend>When</legend>
    <div class="fieldset__radio-items">
      <div>
        <input id="today" type="radio" value="today" />
        <label for="today">Today</label>
      </div>
      <div>
        <input id="tomorrow" type="radio" value="tomorrow" />
        <label for="tomorrow">Tomorrow</label>
      </div>
      <div>
        <input id="selectDate" type="radio" value="selectDate" />
        <label for="selectDate">Select Date</label>
      </div>
    </div>
  </fieldset>
  <button class="form__btn" type="submit">Add Task</button>
</form>
